<table class="striped">
	<thead>
		<tr>
			<th class="date-short">Date</th>
			<th class="date-long">Date</th>
			<th class="amount">Amount</th>
			<th class="description">Description</th>
			<th class="balance">Balance</th>
		</tr>
	</thead>
	<tbody>
		<%= render entries, with_tags: with_tags %>
	</tbody>
</table>
