<h1>Upload</h1>
<p>Select a file of transactions to upload.</p>

<%= form_for :transaction, url: upload_path do |f| %>
  <div class="file-field input-field">
    <div class="btn waves-effect">
      <span>File</span>
			<%= f.file_field :file %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <button class="btn waves-effect right" type="submit" name="action">
		Upload
  </button>
<% end %>
