<% if @transactions && @transactions.size > 0 %>
	<table class="striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		<% @transactions.each do |t| %>
			<tr>
				<td class="date"><%= t.date %></td>
				<td class="description"><%= t.description %></td>
				<td class="amount"><%= t.amount %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
  <p>No transactions</p>
<% end %>
